.wrapper{
    padding: 20px 8px 24px 8px;
}

.title-login{
    color: rgba(22, 24, 35, .5);
    font-size: 16px;
    line-height: 22px;
}

.login-btn{    
    width: 100%;
    min-height: 48px;margin-top: 20px;
}
