.wrapper {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.container {
}

.header {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    height: 58px;
    width: 58px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;

}

.content {
    width: 500px;
    margin-left: 12px;
}

.account-info {
    display: inline-block;
    line-height: 2.1rem;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.nickname {
    margin-right: 4px;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: #161823;
}

.check {
    margin: 0 4px 0;
    font-size: 1.4rem;
    color: #20d5ec;
}

.name {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.8rem;
    color: #161823;
}

.description {
    font-size: 1.6rem;
    line-height: 2.2rem;
}

.status {
    font-weight: 400;
}

.song-name {
    display: inline-flex;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-top: 4px;
    margin-bottom: 12px;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.follow-btn {
    width: 100px;
    padding: 6px;
    border: 1px solid #fe2c55;
    border-radius: 4px;
}

.body {
    display: flex;
    margin-left: 12px;
    position: relative;
    left: 52px;
}

.react-player {
    border-radius: 10px;
    overflow: hidden;
}

.active-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.active-item-icon {
    cursor: pointer;
}

.icon {
    width: 49px;
    height: 49px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.active-icon {
    width: 18px;
    height: 18px;
    color: #161823;
    margin-top: 8px;
    margin-bottom: 6px;
    font-weight: 400;

    &:hover {
        color: #161823e6;
    }
}

.count {
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    color: #161823bf;
}
