.wrapper {
    width: 300px;
    padding: 20px 0 26px 8px;
    margin-left: -18px;
    overflow-y: auto;
    max-height: 100vh;
}

.footer {
    padding-top: 16px;
    padding-left: 8px;
    color: #16182380;
}

.footer-link {
    margin-bottom: 8px;
    a {
        color: #16182380;
        font-weight: 600;
        font-size: 12px;
        line-height: 17px;
        display: inline-block;
        margin-right: 6px;
        margin-top: 5px;
        &:hover {
            text-decoration: underline;
        }
    }
}

.copyright {
    font-weight: 600;
    font-size: 12px;
    margin-right: 6px;
    margin-top: 5px;
    line-height: 1.6rem;
}
